extends layout 

block content 
  h1.title= title 

  p.bodyText Creating message as #{user.fullname}
  form(action="" method="POST" class='form')
    input(type='text' placeholder='Title...' name='title' class='formInput')
    textarea(name="message" cols="30" rows="3" placeholder="Message..." maxlength='200' class='formInput')
    if errors 
      div.subcontainer
        for err in errors 
          p.errorText!= err.msg
    button.submit Create Message