extends layout

block content
  h1.title= title

  form(action="" method="POST" class='form')
    input(name="username" placeholder="Username" type="text" class='formInput') 
    input(name="password" type="password" placeholder='Password' class='formInput') 
    if errors 
      div.subcontainer
        for err in errors 
          p.errorText!= err.msg
    button.submit Log In
