extends layout

block content
  form(action="" method="POST")
    input(name="username" placeholder="Username" type="text") 
    input(name="password" type="password" placeholder='Password') 
    button Log In
  
  if errors
    ul
      for error in errors
        li!= error.msg
