extends layout

block content
  form(action="" method="POST")
    input(name="username" placeholder="Username" type="text") 
    input(name="password" type="password" placeholder='Password') 
    button Log In
