extends layout 

block content 
  h1.title= title
  
  form(class='form' action='' method='POST')
    input(type='text' class='form-input' placeholder='Full Name' name='fullname' class='formInput')
    input(type='text' class='form-input' placeholder='Username' name='username' class='formInput')
    input(type='password' class='form-input' placeholder='Password' name='pass1' class='formInput')
    input(type='password' class='form-input' placeholder='Confirm Password' name='pass2' class='formInput')
    if errors 
      div.subcontainer
        for err in errors 
          p.errorText!= err.msg
    button(type='submit' class='submit') Sign Up